body,dd,dl,dt,figure,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,select,ul{margin:0;padding:0;font-family:Microsoft YaHei,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif}
ol,ul{list-style:none}
body{font-size:12px;line-height:1.5;color:#333;background:#f6f6f6;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased}
body{background-color:#f6f6f6}
button,input,select{vertical-align:middle;font-size:100%}
fieldset,img{border:0 none}
em{font-style:normal}
.pic,.pic a,.pic img{display:block}
//清除高度塌陷
.clear,.clearfix:after{clear:both;display:block;height:0;visibility:hidden}
.clearfix:after{content:".";font-size:0}
.wrapper{width:1200px;margin-left:auto;margin-right:auto}
.content{float:left;width:760px}
.side{float:right;width:220px}
.hide{display:none}
a{color:#0a50a1;cursor:pointer}
a,a:hover{text-decoration:none}
a:hover{color:#c00}
.btn{height:36px;line-height:36px;background:#f74b44;padding:0 20px;color:#fff;display:inline-block;*display:inline;vertical-align:middle;cursor:pointer;border:0;*zoom:1;*border:0}
.btn:hover{background:#cd3430;color:#fff}
h2 a{color:#333}
h2 a font{display:inline-block;margin-left:10px}
h2 a:hover{color:#cd3430}



// 清空margin和padding
.nm{margin:0!important}
.np{padding:0!important}
.mt0{margin-top:0!important}
// 四个方向的margin值
.mt{margin-top:10px!important}
.mb{margin-bottom:10px!important}
.ml{margin-left:10px!important}
.mr{margin-right:10px!important}

@for $num from 1 to 10 {
    $num5 : $num * 5;
    .mt#{$num5}{
        margin-top: $num * 5px!important
    }
    .mb#{$num5}{
        margin-bottom: $num * 5px!important
    }
    .ml#{$num5}{
        margin-left: $num * 5px!important
    }
    .mr#{$num5}{
        margin-right: $num * 5px!important
    }
}
.ml14{margin-left:14px!important}
.ml-20{margin-left:-20px!important}

//四个方向的padding值
.pt{padding-top:10px!important}
.pb{padding-bottom:10px!important}
.pl{padding-left:10px!important}
.pr{padding-right:10px!important}
@for $num from 1 to 20 {
    
    .pt#{$num}{
       padding-top: $num * 1px!important
    }
    .pb#{$num}{
       padding-bottom: $num * 1px!important
    }
    .pl#{$num}{
       padding-left: $num * 1px!important
    }
    .pr#{$num}{
       padding-right: $num * 1px!important
    }
}


.pl.p20{padding-left:20px!important}
.pt.p20{padding-top:20px!important}
.pb.p20{padding-bottom:20px!important}
.pr.p20{padding-right:20px!important}

.pb30{padding-bottom:30px}

.t5{top:5px}
.nb{border:0 none!important}
.fl{float:left!important}
.fr{float:right!important}
.white-bg{background-color:#fff!important}
.black-bg{background-color:#000!important}
.border-top{border-top:1px solid #e7e7e7}
.border-bottom{border-bottom:1px solid #f4f4f4}
.c666{color:#666!important}
.c999{color:#999!important}
.c-red{color:#f74b44!important}
.c333{color:#333}
.action,.price{color:#f74b44}
.c787272{color:#787272}
.cf74b44{color:#f74b44}
.original-price{color:#999;text-decoration:line-through}
.multi-row-ellipsis{display:-webkit-box!important;-webkit-box-orient:vertical!important;-webkit-line-clamp:2}
.multi-row-ellipsis,.single-row-ellipsis{overflow:hidden!important;-o-text-overflow:ellipsis!important;text-overflow:ellipsis!important}
.single-row-ellipsis{white-space:nowrap!important}
.show{display:block!important}
.hide{display:none!important}
.static{position:static!important}
.relative{position:relative!important}
.h80{height:80px}
// 循环设置设置字体大小
@for $num from 12 to 25 {
    .f#{$num}{
        font-size: $num * 1px!important;
    }
}

.box-center{margin-left:auto;margin-right:auto}
.text-center{text-align:center!important}
.text-right{text-align:right !important}
.overhide{overflow:hidden}