$ccc:#ccc;
.zc-topbar {
    background: #eee;
    margin-bottom: 20px;
}
.zc-topbar .wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #333;
}
.zc-back-home a{
    color: #c00;
    font-weight: 900;
}