.header-navs{border-bottom:1px solid #f6f6f6;line-height:40px;background-color:#fff}
.header-navs.fixed{position:fixed;left:0;top:0;right:0;z-index:299}
.header-navs .navs{font-size:16px;font-weight:700}
.header-navs .navs a{margin-right:50px;color:#333;display:inline-block}
.header-navs .navs .active,.header-navs .navs a:hover{color:#f74b44}
.header-navs .login-exit,.header-navs .login-start{line-height:38px}
.header-navs .login-exit a,.header-navs .login-start a{color:#333;font-size:14px;padding:0 10px}

.header-navs .login-exit .line,.header-navs .login-start .line{border-left:1px solid #ccc}

.header-navs .login-exit .mark,.header-navs .login-start .mark{color:#f74b44}
.header{width:100%;background-color:#fff}
.header .wrap-logo{padding:10px 0}
.header .wrapper{width:1200px;margin:0 auto;height:100%}
.header .wrapper .logo{width:106px;padding-top:13px;margin-right:15px}
.header .wrapper .logo img{width:100%;height:35px}
.header .wrapper .channel-name{font-size:24px;line-height:36px;padding-left:15px;margin-top:13px;border-left:1px solid #eee}
.header .wrapper .city-box{float:left;position:relative;margin-left:20px;width:106px}
.header .wrapper .city-box.cur .city{border-color:#e3e3e3;background:#fff;z-index:111}
.header .wrapper .city-box.cur .city-list{display:block}
.header .wrapper .city{position:relative;display:block;height:42px;font-size:15px;line-height:42px;padding:0 1px;margin:14px 0 0;text-decoration:none;z-index:110;border:1px solid #fff;border-bottom:0;cursor:pointer}
.header .wrapper .city .map-icon{background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/header/images/icon_header-5c9487cee2.png) no-repeat;background-position:14px -7px;width:30px;height:35px;vertical-align:middle;top:-1px}
.header .wrapper .city .icon{width:15px;height:15px;margin-left:5px;vertical-align:middle;position:absolute;top:50%;margin-top:-2px;background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/header/images/icon_header-5c9487cee2.png) no-repeat;background-position:0 3px}
.header .wrapper .city span{display:inline-block;max-width:60px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;color:#333}
.header .wrapper .city .icon,.header .wrapper .city .map-icon{display:inline-block}
.header .wrapper .city-active{position:relative;border:1px solid #e3e3e3;border-bottom:none;padding:0 9px;background-color:#fff;z-index:111}
.header .wrapper .city-active:before{display:none}
.header .wrapper .city-active .icon{background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/header/images/icon_header-5c9487cee2.png) no-repeat 0 3px}
.header .wrapper .city-list{position:absolute;top:56px;border:1px solid #e3e3e3;background-color:#fff;width:224px;z-index:110;left:0;display:none}
.header .wrapper .city-list .group .city-list-active{color:#f74b44}
.header .wrapper .city-list .group{position:relative;border-top:1px solid #f5f5f5;line-height:2;padding-left:15px}
.header .wrapper .city-list .group:first-child{border-top:none}
.header .wrapper .city-list .group a{float:left;width:47px;margin-right:5px;color:#515151;overflow:hidden;white-space:nowrap}
.header .wrapper .city-list .group a:hover{color:#f74b44}
.header .wrapper .nav-box{overflow:hidden;width:500px;margin:0 auto}
.header .wrapper .nav-box iframe{margin-left:-74px}
.header.index .header-navs{border-top:1px solid #f6f6f6;border-bottom:0 solid #eee}
.header.index .wrap-logo{padding-top:22px}
.header.index .qrcode{width:62px;border:1px solid #eee;margin-right:140px;position:relative;margin-top:-12px;text-align:center;padding:0 4px 4px;line-height:24px}
.header.index .qrcode img{vertical-align:top}
.header.index .qrcode .close{position:absolute;right:-17px;top:-1px;width:15px;height:15px;background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/header/images/icon-close-3fd52e84fb.gif) 50% no-repeat;border:1px solid #eee;cursor:pointer}