.main{width:890px;height:auto;margin-right:10px}



.title{height:22px;line-height:22px}
.title .header-tit{font-size:22px;font-weight:400}
.title .header-tit.header-tit-icon{overflow:hidden;text-indent:-999em}
.title .header-tit.doday-buy{background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/title/images/jinriqianggou-07e20c3114.png) no-repeat;width:96px;height:22px}
.title .header-tit.huimaizhuanji{background:url(https://icon.zol-img.com.cn/daogou/src/assets/components/title/images/huimaizhuanji-74ca0853b2.png) no-repeat;width:96px;height:22px}
.title .tit-tag{margin-left:10px;font-size:14px;color:#999}
.title .tit-more{font-size:12px;color:#999}
.title .tit-more:hover{color:#cd3430}

.tab-title{border-bottom:1px solid #f4f4f4;margin-top:-5px;overflow:hidden}
.tab-title h2{float:left;font-size:20px;font-weight:400;margin-right:40px;padding-bottom:5px;cursor:pointer}
.tab-title h2.on{color:#f74b44;border-bottom:1px solid #f74b44}