@import "detail_topbar";
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr {margin:0;padding:0;}
body {font:12px/1.5 Arial; color:#333;}
select,input,button {vertical-align:middle;font-size:100%;}
ul,ol {list-style:none;}
fieldset,img {border:0;}
em {font-style:normal;}
.clearfix:after {content:"."; display: block; visibility: hidden; clear: both; height:0; font-size:0}


a{ color:#134ba0; text-decoration:none; cursor:pointer; }
a:hover,.modgoods-list li a:hover,.contact-a:hover,.guide a:hover{ color:#f60; text-decoration:underline; }
.wrapper { width:1200px; margin:0 auto; }
.mt{ margin-top:10px; }
.mt20{ margin-top:20px;}

.cart-state input,.security-a,.security-b,.security-c,.security-d,.contact-a,.security-e,
.contact-c,.remaining-time i,.deletebox i,.order-foot .accounting-btn,
.cannotbuy-layer i,.cannotbuy-layer b,.process,.confirmbtn,.layer-hd,
.layer-hd .closebtn,.wrong_tip,.savebtn,.cancelbtn,.order-tips i,
.paymentbtn,.alipay,.pay-tips-icon,.pay-tip-btn,.viewbtn,.viewbtn_2,
.logtip,.tracktip,.changebtn,.tipbox .hd,.tipbox i,.conbtn,.star,
.star em,.evalmod label span,.goodinfor-layer .ico,
.audit-not-pass,.audit-pass,.upload-again{ background:url(http://icon.zol-img.com.cn/newshop/merchant/telecom/pic1.png) no-repeat;}


.logo{width: 1200px;margin: 0 auto;}

.shopcar-tip{ height:145px; padding:45px 0 12px 169px; background: url(http://icon.zol-img.com.cn/zol_shop/order/images_20120628/shopcar.png) no-repeat 60px 45px;}
.shopcar-tip dt{ font-size:14px; font-weight:bold; color:#666; line-height:40px;}
.shopcar-tip dd{ line-height:24px;}
.shopcar-tip dd a{ margin:0 7px;}

/*modgoods*/
.modgoods-tab{ border-bottom:1px solid #e3e3e3;}
.modgoods-tab li{ float:left; width:129px; height:33px; margin:0 5px 0 0; border:1px solid #e3e3e3; border-bottom:0 none; background:#f6f6f6; text-align:center; font:16px/33px "Microsoft YaHei"; cursor:pointer;}
.modgoods-tab .cur{ margin:0 5px -1px 0; position:relative; border-top:2px solid #e02d2d; background:#fff; cursor:auto;}
.modgoods-tabbox{ position:relative; border:1px solid #e0e0e0; border-top:0 none;}
.modgoods-list{ padding:20px 0 13px 14px;}
.modgoods-list li{ float:left; width:162px; padding:0 12px; text-align:center;}
.modgoods-list li img{ display:block; border:1px solid #e2e2e2;}
.modgoods-list li a{ color:#333;}
.modgoods-list .pic span{ display:block; height:24px; padding:5px 0 0; line-height:24px; overflow:hidden;}
.modgoods-list .market-price{ line-height:24px; color:#999;}
.modgoods-list .market-price em{ font-family:Verdana; }
.modgoods-list .price{ color:#ff0000; font-size:16px; font-family:Verdana; font-weight:bold;}
.no-goods{ padding:20px 11px 160px 19px;}
.no-goods span{ width:899px; height:51px; display:block;  padding:0 0 0 20px; line-height:51px; font-size:14px; background-color:#efefef;}

/*cart-state*/
.cart-state{ text-align:right;}
.cart-state p{ padding:7px 0 10px 0;}
.cart-state p em{ padding:0 0 0 10px; color:#666;}
.cart-state .total{ height:22px; line-height:22px; color:#666;}
.cart-state .total span{ float:right; padding:0 8px 0 0; line-height:24px; color:#999;}
.cart-state .total em{ padding:0 2px 0 0; color:#ff0000; font-weight:bold; font-family:verdana; }
.cart-state input{ float:right; width:58px; height:22px; background-position:-192px -150px; border:0 none; color:#fff; line-height:22px; text-align:center; font-weight:bold; cursor:pointer;}

/*order-table*/
.order-table table{ border-collapse:collapse; border-spacing: 0; table-layout:fixed;}
.order-table .other td{ background:#fcfcfc;}
.order-table th{ height:36px; background:#f5f5f5; border-top:2px solid #e02d2d; line-height:36px; font-weight:normal; text-align:center;}
.order-table .th-1{ width:62px;}
.order-table .th-2{ width:217px; padding:0 0 0 100px; text-align:left;}
.order-table .th-3{ width:122px;}
.order-table .th-4{ width:106px;}
.order-table .th-5{ width:121px;}
.order-table .th-6{ width:107px;}
.order-table .th-7{ width:81px;}
.order-table .th-1 input{ margin:0 5px 0 0; *margin:0 3px 0 0; _position:relative; _top:-2px;}

.order-table .store-infor{ height:43px; padding:10px 0 0 0; border:0 none; background:#fff;}
.shopname{ float:left;line-height:43px; }
.shopname input{ margin:-2px 5px 0 0; *margin:0 3px 0 0;  margin:0 5px 0 0\0; position: relative; *top: -3px; top:-4px\0;}
.security{ padding:5px 0; _padding:0; padding:2px 0\0;}
.security-a,.security-b,.security-c,.security-d,.security-e{ float:left; width:16px; height:16px; display:block; margin-right:5px;}
.security-a{ background-position:0 -286px;}
.security-b{ background-position:-22px -286px;}
.security-c{ background-position:-43px -286px;}
.security-d{ background-position:-65px -286px;}
.security-e{ background-position:-87px -286px;}
.contact{ float:left; padding:11px 0 0 15px; _padding:0 0 0 15px; }
.contact a{ float:left; margin:0 10px 0 0;}
.contact-a{ padding-left:23px; display:block; background-position:-242px -437px; color:#333; text-indent: -9999em; overflow: hidden;}
.contact-c{ padding-left:14px; display:block; float:left; background-position:-249px -404px;}

.order-table td{ padding:10px; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; text-align:center;}
.order-table .s-infor{ border-left:1px solid #e3e3e3;}
.order-table .s-del{ border-right:1px solid #e3e3e3;}
.order-table .s-infor{ padding:10px 10px 10px 12px; width:357px;}
.order-table .not-choose td{background: #f3f7fa}
.order-table invalid td{ background:#f3f3f3; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.order-table invalid .s-infor{ border-left:1px solid #ceddf0;}
.confirm-table .original,.order-table .original{color: #999;text-decoration: line-through;}
.confirm-table .discount-icon,.order-table .discount-icon{display: inline-block;height: 18px;line-height: 18px;padding: 0 3px;background-color: #ce1a1b;color: #fff;font-size: 12px;}
.s-price{ width:102px;}
.s-amount{ width:130px;}
.s-agio{ width:101px;}
.s-total{ width:87px;}
.s-del{ width:61px;}

.s-infor input{ float:left; margin:24px 10px 0 0; *margin:21px 8px 0 -2px;}
.s-infor .pic{ float:left; width:80px; height:80px; border:1px solid #ccc; line-height:58px;  *display:block; *font-size:53px; *font-family:arial; text-align:center; background:#fff;}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
    head~body .s-infor .pic {line-height:60px;}
}
.s-infor .pic img{  vertical-align:middle;}
.s-infor .inforbox{ float:left; width:240px; padding:0 0 0 10px; line-height:20px; text-align:left;}
.s-infor .inforbox .tit{ margin:-2px 0 4px ; height:40px; line-height: 20px; font-weight:normal; font-size:12px; overflow:hidden;}
.s-infor .inforbox p{ color:#666;}
.s-infor .info-con{ height:20px; line-height:20px; color:#666; }
.s-infor .info-con span{ cursor:pointer;}
.s-infor .info-con-hover{ position:relative; z-index:1}
.s-infor .info-con .info-help{ display:none;}
.s-infor .info-con-hover .info-help{ display:block;}
.s-infor .info-help{ position:absolute; left:36px; top:20px; padding:10px; border:1px solid #ccc; background:#fff; color:#333;}
.s-infor .info-help a{ color:#3366cc;}
.s-infor .info-help a:hover{ color:#f60;}
.s-infor .info-help h5{ white-space:nowrap; display:block; font-size:12px; height:20px; line-height:20px; padding:0 0 6px;}
.s-infor .info-help p{ white-space:nowrap; line-height:22px;}

.s-old-price{ display:block; padding-top:13px; color:#999; text-decoration:line-through;}
.limit-price,.bulk-price{ height:20px; display:block; margin:6px 8px 0; line-height:20px; color:#fff;}
.limit-price,.agio-limit{ background-color:#89c81e; }
.bulk-price,.agio-bulk{ background-color:#ff5d5c;}

.buy-num{ position:relative; width:110px; height:20px; padding:31px 0; text-align:center;}
.buy-num .tips{ position:absolute; left:21px; bottom:3px; padding:0 10px; height:20px; line-height:20px; text-align:center; color:#fff; background:#ff7373; display:none; }
.buy-num .tips-2{ position:absolute; left:7px; bottom:3px; padding:0 10px; height:20px; line-height:20px; text-align:center; color:#fff; background:#ff7373; white-space: nowrap;
display:none;}
.minus,.plus{ float:left; width:10px; height:10px; line-height:10px; background:#fff; color:#333; text-align:center; border:1px solid #ccc; overflow:hidden;}
.no-minus{ float:left; width:10px; height:10px; line-height:10px; background:#fff; color:#ccc; text-align:center; border:1px solid #ccc; overflow:hidden; cursor:default;}
.no-minus:hover{ color:#ccc;}
.minus:hover,.plus:hover{ color:#333; border:1px solid #ff6600; text-decoration:none;}
.minus,.no-minus{ margin:5px 8px 0 10px;}
.plus{ margin:5px 0 0 8px;}
.text-amount{ width:28px; height:16px; height:auto\9; float:left; padding:1px 3px; text-align:right;}

.agio-limit,.agio-bulk{ height:20px; display:inline-block; padding:0 6px; color:#fff; line-height:20px; cursor:pointer; position:relative;}
.remaining-time{ position:absolute; top:-60px; left:0; padding:5px 10px; color:#333; border:1px solid #ccc; background-color:#fff; line-height:20px; white-space:nowrap; display:none; cursor:pointer; text-align:left; color:#666; cursor:auto;}
.remaining-time i{ display:block; width:13px; height:7px; position: absolute; bottom:-7px; _bottom:-15px; left:7px; background-position:-248px -229px;}

.s-total em{ color:#ff0000; font-family:"verdana";}
.s-del a{ display:block; line-height:20px;}
.s-delbox{ position:relative;}
.deletebox{ width:144px; padding:6px 10px; position:absolute; top:-60px; left:-50px; border:1px solid #ccc; background-color:#fff; line-height:18px; color:#666;}
.s-del .deletebox a{ margin:0 12px; display:inline-block; color:#3366cc; cursor:pointer;}
.s-del .deletebox a:hover{ color:#f60;}
.deletebox i{ display:block; width:13px; height:7px; margin-left:-5px; position: absolute; bottom:-7px; _bottom:-15px; left:50%; background-position:-248px -229px;}

.over-order td{ border-top:1px solid #f4f7fa; background:#f8f9fb;}
.order-table .over-order .s-infor{ border-left:1px solid #f8f9fb;}
.order-table .over-order .s-del{ border-right: 1px solid #f8f9fb;}
.over-order .s-price{ color:#999;}
.over-order .limit-price,.over-order .agio-limit{ background:#bfbfbf;}
.over-order .tips{ position:absolute; left:10px; bottom:31px; padding:0 10px; height:20px; line-height:20px; text-align:center; color:#fff; background:#bfbfbf; display:none; }
.over-order .tips .deletebox{ top:-40px; left:-40px;}

.total-price{ padding:0 10px 0 0; height:52px; line-height:52px; text-align:right;}
.total-price span{ color:#666;}
.total-price em{ color:#ff0000; font-size:16px; font-weight:bold; font-family:verdana}

.order-foot{ position:relative; padding:0 0 0 12px; height:33px; border:1px solid #e3e3e3;}
.order-foot a{ float:left; margin:0 30px 0 0}
.order-foot label{ float:left; padding:0 25px 0 0 ;_padding:7px 25px 0 0;}
.order-foot label input{ margin:0 5px 0 0; *margin:0 3px 0 0; _position:relative; _top:-2px;}
.order-foot .accounting-btn{ position:absolute; top:-1px; right:-1px; width:130px; height:35px; font:18px/35px "Microsoft YaHei"; color:#fff; border:0 none; background-position:0 -113px; cursor:pointer;}
.order-foot .go-shopping{ float:none; position:absolute; top:0; right:150px; margin:0; font-family:"simsun";}
.cannotbuy-layer{ width:168px; position:absolute; bottom:45px; right:-30px; padding:10px; border:1px solid #ccc; background-color:#fff; line-height:20px; color:#666;}
.cannotbuy-layer a{ float:none; font-family:"simsun"; }
.cannotbuy-layer i{ display:block; width:13px; height:7px; margin-left:-5px; position: absolute; bottom:-7px; _bottom:-15px; left:50%; background-position:-248px -229px;}
.cannotbuy-layer b{ display:block; width:10px; height:9px; position:absolute; top:5px; right:5px; background-position:-235px -229px; font:0/0 arial; cursor:pointer;}
.process{ position:absolute; top:-1px; right:-1px;width:130px; height:35px; font:18px/35px "Microsoft YaHei"; color:#fff; border:0 none; background-position:0 -211px; text-align:center; }
.process span{ padding: 0 0 0 22px; margin:0 0 0 -5px; background: url("http://icon.zol-img.com.cn/zol_shop/order/images_20120628/ico.gif") no-repeat 0 6px;}
.wrong_tips{ width:auto; padding:10px 20px;}
.guide{ height:32px; padding:10px 10px 10px 0; line-height:32px; text-align:right;}
.guide a{ color:#999;}


